:root {
    --big-stone: #172542; /*Azul oscuro*/
    --royal-blue: #2648f0; /*Azul medio*/
    --picton-blue: #4eaaed; /*Azul claro*/
    --cornflower: #9ad1ef; /*Azul claro++*/
    --portage: #9863f3; /*Morado*/
    --perfume: #c8bdf9; /*Morado claro*/
    --link-water: #dfdbf6; /*Morado claro++*/
    --salmon: #ff885d; /*Coral*/
    --mandys-pink: #f4cab2; /*Coral claro*/
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    font-weight: bold;
    color: var(--salmon);
  }
  
  p {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #second {
    color: var(--portage);
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: var(--perfume);
  }
  
  .navbar {
    background-color: var(--big-stone);
  }
  
  #hr {
    height: 2px;
    width: 100%;
    background-color: var(--salmon);
    opacity: 100;
  }
  
  h1 {
    color: #172542;
  }

  h3{
    font-weight: bold;
    
  }
  
  #curso {
    background-color: white;
    width: 20%;
    height: 50vh;
  }
  
  
  .footer {
    background-color: var(--big-stone);
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  ol{
    color: #172542;
    font-size: larger;
    line-height: 30px;
  }

  li{
    font-weight: bold;
  }

  .comprar {
    border-radius: 5px;
    background-color:#f8f9fa;
    box-shadow: 5px 5px 10px #a0a0a0;
  }

  .btn {
    background-color:var(--portage);
    width: 100%;
    padding: 1%;
    color: #fff;
    border-color: var(--portage);
  }

  .btn:hover{
    background-color:#2648f0;

  }

  .addIcon{
    height:5vh;
  }

  #categoria{
    width: 100%;
  }

  #genMod{
    background-color: #4eaaed;
    border-color: #4eaaed;
  }

  #genOtroMod{
    background-color: transparent;
    color: #4eaaed;
    border-color: #4eaaed;
  }

