:root {
  --big-stone: #172542; /*Azul oscuro*/
  --royal-blue: #2648f0; /*Azul medio*/
  --picton-blue: #4eaaed; /*Azul claro*/
  --cornflower: #9ad1ef; /*Azul claro++*/
  --portage: #9863f3; /*Morado*/
  --perfume: #c8bdf9; /*Morado claro*/
  --link-water: #dfdbf6; /*Morado claro++*/
  --salmon: #ff885d; /*Coral*/
  --mandys-pink: #f4cab2; /*Coral claro*/
}

h1 {
  font-weight: bold;
  color: #172542;
}

h2 {
  font-weight: bold;
  color: var(--salmon);
}

h3 {
  font-weight: bold;
  color: #172542;
}

p {
  padding-left: 5px;
  padding-right: 5px;
}

#second {
  color: var(--portage);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--link-water);
}

.navbar {
  background-color: var(--big-stone);
}

#hr {
  height: 2px;
  width: 100%;
  background-color: var(--salmon);
  opacity: 100;
}

#curso {
  background-color: white;
  width: 20%;
  height: 50vh;
}

.carousel {
  margin: 30px auto 60px;
  padding: 0 80px;
}
.carousel .carousel-item {
  text-align: center;
  overflow: hidden;
}
.carousel .carousel-item h4 {
  font-family: "Varela Round", sans-serif;
}
.carousel .carousel-item img {
  max-width: 100%;
  display: inline-block;
}
.carousel .carousel-item .btn {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: var(--salmon);
  padding: 6px 15px;
  margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
  background: var(--mandys-pink);
}
.carousel .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .thumb-wrapper {
  margin: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
  height: 35vh;
}

.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 50px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: var(--salmon);
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev i {
  margin-left: -3px;
}
.carousel-control-next i {
  margin-right: -3px;
}
.carousel-indicators {
  bottom: 100px;
}

.footer {
  background-color: var(--big-stone);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.search{
  width: 100%;
  size: 100%;
  align-items: center;
  margin-right: 0s;
}

.search form{
  width: 100%;
  margin: 0;
  size: 100%;

}

.search input{
  width: 90%;
  padding: 1vh;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 15px;
  font-size: 16px;
}

.search button{
  background-color: #9863f3;
  padding: 1vh;
  width: 5%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

#busqueda{
  background-color: #9ad1ef;
}

#cuadroBusqueda{
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

#busquedaText{
  margin: 0%;
}