:root {
  --big-stone: #172542; /*Azul oscuro*/
  --royal-blue: #2648f0; /*Azul medio*/
  --picton-blue: #4eaaed; /*Azul claro*/
  --cornflower: #9ad1ef; /*Azul claro++*/
  --portage: #9863f3; /*Morado*/
  --perfume: #c8bdf9; /*Morado claro*/
  --link-water: #dfdbf6; /*Morado claro++*/
  --salmon: #ff885d; /*Coral*/
  --mandys-pink: #f4cab2; /*Coral claro*/
}

.btn-primary {
  background-color: var(--morado);
  border-color: var(--morado);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--big-stone);
  background: linear-gradient(to right, var(--mandys-pink), var(--perfume));
}
.bgImg {
  background-image: url(https://as1.ftcdn.net/v2/jpg/05/59/81/64/1000_F_559816413_kG1NAvtwoBM9pJDnI1gavsoon9V7y34i.jpg);
  background-position: center center;
}

.btn-primary {
  background-color: var(--royal-blue);
  color: white;
  border-width: 0px;
}

.btn-primary:hover {
  background-color: var(--portage);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: var(--big-stone);
}

a {
  color: var(--royal-blue);
}
