:root{
    --big-stone: #172542;     /*Azul oscuro*/
    --royal-blue: #2648f0;    /*Azul medio*/
    --picton-blue: #4eaaed;   /*Azul claro*/
    --cornflower: #9ad1ef;    /*Azul claro++*/
    --portage: #9863f3;       /*Morado*/
    --perfume: #c8bdf9;       /*Morado claro*/
    --link-water: #dfdbf6;    /*Morado claro++*/
    --salmon: #ff885d;        /*Coral*/
    --mandys-pink: #f4cab2;   /*Coral claro*/
}

body{
    font-family: 'Poppins' ,sans-serif;
    background: var(--perfume);
}

.navbar {
    background-color: var(--big-stone);
    color: #9863f3;
}

a{
    color: white;
}

div {
    size: 100vh;
}

.btn-primary {
    background-color: var(--portage);
    border: none;
    margin-top: 1vh;
    width: 50vh;
   
}

.btn-outline-primary {
    color: var(--salmon);
    border-color: var(--salmon);
    margin-top: 1vh;
    width: 50vh;

}